body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 30px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 300px;
    
}
th,td{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
input{
    width: 200px;
    padding: 5px;
}
button{
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save{
    background-color: rgb(2, 153, 2);
    color: white;
    font-weight: bold;
}
.cancel{
    background-color: red;
    color: white; 
    font-weight: bold;
}
.edit{
    background-color: orange;
    color: white;
    font-weight: bold;
}
.delete{
    background-color: red;
    color: white;
    font-weight: bold;
}