.gallery {
  margin-top : 150px;
  justify-content: center;
  display: flex;
  gap: 15px;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.4s ease;
  cursor: pointer;
  border-radius: 5px;
}

.photo-active {
  transform: scale(2);
  box-shadow: 0 10px 25px;
  z-index: 10;
}