body {
    font-family: Poppins, sans-serif;
    background: #f2e5ff;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px; 
    padding: 20px;
}

.card {
    width: 350px;
    height: 210px;
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;
    margin-right: 100px;
}

.card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 25px;
    color: white;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.front {
    background: purple;
}

.chip {
    width: 50px;
    height: 35px;
    background: #ffd700;
    border-radius: 6px;
    margin-bottom: 20px;
}

.bank {
    font-size: 20px;
    font-weight: 600;
}

.card-number {
    font-size: 22px;
    letter-spacing: 2px;
    margin: 20px 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back {
    background: purple;
    transform: rotateY(180deg);
}

.black-strip {
    width: 100%;
    height: 40px;
    background: black;
    margin-top: 10px;
}

.cvv {
    margin-top: 40px;
    background: white;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}

.form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}